# ENVIRONMENT VARIABLES

# COMMON 
NODE_ENV="development" # Options: 'development', 'staging' , 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS SETTINGS
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# RATE LIMITING
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# RDBMS DB CREDENTIALS
DB_HOST=localhost
DB_USER=
DB_NAME=
DB_DRIVER=
DB_PASSWORD=
DB_PORT=
DB_LOGGING=false

# MONGODB CREDENTIALS
MONGODB_CONNECTION_STRING="mongodb://localhost:27017/"
MONGODB_DATABASE_NAME=""

# FRONTEND URL
FRONTEND_DEVELOPMENT_URL=http://localhost:5173
FRONTEND_STAGING_URL=http://localhost:5173
FRONTEND_PRODUCTION_URL=http://localhost:5173

# BACKEND URL
BACKEND_DEVELOPMENT_URL=http://localhost:9000
BACKEND_STAGING_URL=http://localhost:9000
BACKEND_PRODUCTION_URL=http://localhost:9000

# JWT
JWT_SECRET_KEY=
JWT_REFRESH_TOKEN_KEY=
JWT_SECRET_EXPIRE_TIME='10'
JWT_REFRESH_SECRET_EXPIRE_TIME='3'

# TIMEZONE
TZ="Asia/Kolkata"